<div class="card shadow-sm mb-4">
  <div class="card-header bg-primary text-white">
    <h2 class="h4 mb-0"><%= title %></h2>
  </div>

  <div class="card-body">
    <h4 class="card-title mb-4 border-bottom pb-2 text-dark">
      <%= question.text %>
    </h4>

    <ul class="list-group list-group-flush mb-4">
      <% question.options.forEach((op, index) => { const isCorrect = index ===
      question.correctAnswerIndex; %>

      <li
        class="list-group-item d-flex justify-content-between align-items-center <%= isCorrect ? 'list-group-item-success' : '' %>"
      >
        <span class="<%= isCorrect ? 'fw-bold text-success' : '' %>">
          <%= index + 1 %>. <%= op %>
        </span>

        <% if (isCorrect) { %>
        <span class="badge bg-success rounded-pill">
          <i class="fas fa-check"></i> Correct
        </span>
        <% } %>
      </li>

      <% }) %>
    </ul>
    <p class="card-text text-muted small mt-3 pt-2 border-top">
      Tác giả:
      <span class="fw-bold text-dark">
        <%= question.author ? question.author.userName : "Không xác định" %>
      </span>
    </p>
  </div>
</div>
